body {
 background-color: #FFF8EA;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}

button {
    background-color: #9E7676;
    padding: 10px;
    margin: 10px;
    border-radius: 15%;
}

h1 {
    color: #594545;
}

.hide {
    display: none;
}
